header {
  container-type: inline-size;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1em;
  padding: .75em;
  border-bottom: 1px solid #333;
  height: 4em;
}

header h1 {
  align-self: center;
  font-size: 2em;
}

@media screen and (width < 48em) {
  header h1 {
    font-size: 4vw;
  }
}
